@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Open+Sans:wght@400;700&family=Pinyon+Script&display=swap');

:root {
  --gold: #ad9d7e; /* barva loga + pozadi na fotkach, cary na timeline*/
  --darkblue: #0b1734; /* barva paticky, hlavicky, buttonu, kulicek na timeline*/
  --black: #000;
  --white: #fff;
  /* dark mode colors*/
  --verydarkgrey: #2e2f33;
  --darkerwhite: #e0e0e0;
  --verydarkblue: #0c0d13;
  /*form validation */
  --darkred: #be5944;
}

/* font-family: 'EB Garamond', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pinyon Script', cursive; */

html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

:focus {
  outline: 2px dotted var(--darkred);
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* header mobile version */

header {
  background-color: var(--darkblue);
  color: var(--white);
}

/*  dark mode */

.header__dark-mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.25rem;
  padding-bottom: 0;
}

.header__dark-mode--icon {
  width: 1.5rem;
  margin-left: 0.5rem;
}

.dark-mode__switch {
  display: inline-block;
  height: 1.65rem;
  position: relative;
  width: 3rem;
}

.dark-mode__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode__slider {
  background-color: var(--gold);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.dark-mode__slider::before {
  background-color: var(--white);
  bottom: 0.2rem;
  content: '';
  height: 1.25rem;
  right: 0.2rem;
  position: absolute;
  transition: 0.4s;
  width: 1.25rem;
}

input:checked + .dark-mode__slider:before {
  transform: translateX(-1.35rem);
}

.dark-mode__slider.dark-mode__round {
  border-radius: 2.1rem;
}

.dark-mode__slider.dark-mode__round::before {
  border-radius: 50%;
}

/* logo + lines */

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.25rem;
}

.header__logo {
  display: block;
  width: min(35vw, 12.5rem);
  margin-top: -2rem;
}

.header__details {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 1.25rem;
}

.header__details::before {
  content: '';
  width: 5rem;
  height: 2px;
  background-color: var(--gold);
  flex-grow: 1;
}

.header__details::after {
  content: '';
  width: 5rem;
  height: 2px;
  background-color: var(--gold);
  flex-grow: 1;
}

.header__details--text {
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  font-size: clamp(1.2rem, 3vw, 4rem);
  display: block;
  text-align: center;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  flex-grow: 0;
}

/* hamburger menu */

.header__hamburger-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5rem;
}

.header__hamburger-text {
  color: var(--darkblue);
  margin-right: 0.8rem;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
}

.header__hamburger--btn {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__hamburger--btn span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--darkblue);
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

.header__hamburger--btn span:nth-child(1) {
  transform: translateY(-250%);
}

.header__hamburger--btn span:nth-child(3) {
  transform: translateY(250%);
}

.header__hamburger--btn--opened span:nth-child(2) {
  opacity: 0;
}

.header__hamburger--btn--opened span:nth-child(1) {
  transform: rotate(45deg);
}

.header__hamburger--btn--opened span:nth-child(3) {
  transform: rotate(-45deg);
}

/* navigation */

.header__nav {
  background-color: var(--white);
  padding: 0 1.25rem;
}

.header__nav--list {
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  padding-top: 1rem;
}

.header__nav--item {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.header__nav--link {
  color: var(--darkblue);
  display: inline-block;
  padding: 0.5rem;
  transition: all ease-in-out 250ms;
}

.header__nav--link:hover {
  color: var(--white);
  background: var(--darkblue);
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

/* skip links */

.skip-links {
  background-color: var(--white);
  color: var(--darkblue);
  padding: 0.5rem;
  left: 0;
  top: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-links:focus {
  transform: translateY(0);
  z-index: 99;
}

/* header desktop version */

@media screen and (min-width: 52.5em) {
  .header__nav--list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0;
  }

  .header__hamburger-items {
    display: none;
  }

  .header__nav--item {
    margin-bottom: 0;
  }

  .header__nav--link:hover {
    background-color: transparent;
    color: var(--darkblue);
  }
}

/* footer mobile version */

footer {
  background-color: var(--darkblue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.footer__details,
.footer__copyrights {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  display: block;
  width: min(35vw, 12.5rem);
}

/* contacts */

.footer__contacts {
  padding: 1.5rem 0;
}
.footer__address {
  text-align: center;
}

.footer__contacts--phone,
.footer__contacts--email {
  display: flex;
  align-items: center;
}

.footer__phone--icon,
.footer__email--icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.footer__link--phone,
.footer__link--email {
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 250ms;
}

.footer__link--phone:hover,
.footer__link--email:hover {
  border-bottom: 1px solid var(--white);
  transition: all ease-in-out 250ms;
}

.footer__contacts--phone {
  padding-bottom: 0.5rem;
}

/*  navigation */

.footer__nav {
  padding: 1.5rem 0;
  text-align: center;
}

.footer__item {
  margin-bottom: 1.5rem;
}

.footer__link {
  position: relative;
}

/* .footer__link::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 30%;
  width: 1.5rem;
  height: 2px;
  transform: scaleX(0);
  background-color: #ffffff;
  transition: all ease-in-out 250ms;
} */

/* Co takhle? */

.footer__link::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  background-color: #ffffff;
  transition: all ease-in-out 250ms;
}

.footer__link:hover::after {
  transform: scaleX(1);
}

/* copyrights */

.footer__copyrights {
  max-width: 40ch;
  text-align: center;
  font-size: 0.6rem;
}

.footer__copyrights--link {
  text-align: center;
  font-size: 0.6rem;
}

/*  footer desktop version  */

@media screen and (min-width: 52.5em) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .footer__logo {
    grid-row: 1 / 3;
    margin-right: 1rem;
  }

  .footer__details {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    grid-row: 1 / 3;
  }

  .footer__contacts {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0;
  }

  .footer__address {
    text-align: left;
  }

  .footer__nav {
    align-self: start;
    padding: 1.5rem 1rem;
  }

  .footer__item {
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .footer__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .footer__copyrights {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / 3;
    place-self: end;
    max-width: 70ch;
    text-align: left;
  }

  .footer__copyrights--text {
    grid-column: 3 / 5;
    margin: 0;
  }

  .footer__copyrights--link {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: left;
    align-self: end;
  }
}
